USE [QL_CuaHangTienLoi]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 27/11/2025 2:48:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Tell] [nvarchar](20) NULL,
	[DateCreated] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaBan] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGiaBan]),
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucHang]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucHang](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DanhMucHang] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaKH] [int] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GiamGia] [int] NOT NULL,
	[ThanhToan]  AS ([TongTien]-([TongTien]*[GiamGia])/(100)),
	[AccountName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SĐT] [nvarchar](15) NULL,
	[DiemTichLuy] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[SĐT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](3000) NULL,
	[Notes] [nvarchar](3000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[AccountName] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[MaNCC] [int] NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('admin') FOR [AccountName]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_AccountName]  DEFAULT ('admin') FOR [AccountName]
GO
ALTER TABLE [dbo].[RoleAccount] ADD  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Account]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Account]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMucHang] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucHang] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMucHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
/****** Object:  StoredProcedure [dbo].[Account_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xóa Account
CREATE PROC [dbo].[Account_Delete]
    @AccountName NVARCHAR(100)
AS
BEGIN
    DELETE FROM Account WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Account_GetAll]
AS
BEGIN
    SELECT 
        A.AccountName, 
        A.Password, 
        A.FullName, 
        A.Email, 
        A.Tell, 
        A.DateCreated,
        R.RoleName,
        RA.Actived
    FROM Account A
    LEFT JOIN RoleAccount RA ON A.AccountName = RA.AccountName
    LEFT JOIN Role R ON RA.RoleID = R.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy Account theo AccountName
CREATE PROC [dbo].[Account_GetByID]
    @AccountName NVARCHAR(100)
AS
BEGIN
    SELECT AccountName, Password, FullName, Email, Tell, DateCreated
    FROM Account
    WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thêm Account
CREATE PROC [dbo].[Account_Insert]
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(200),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100) = NULL,
    @Tell NVARCHAR(20) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Account WHERE AccountName=@AccountName)
    BEGIN
        INSERT INTO Account(AccountName, Password, FullName, Email, Tell, DateCreated)
        VALUES(@AccountName, @Password, @FullName, @Email, @Tell, GETDATE());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Login]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Account_Login]
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(200)
AS
BEGIN
    SELECT 
        A.AccountName, 
        A.Password, 
        A.FullName, 
        A.Email, 
        A.Tell, 
        A.DateCreated,
        RA.Actived -- Bổ sung để có thể kiểm tra trạng thái kích hoạt trong C#
    FROM Account A
    INNER JOIN RoleAccount RA ON A.AccountName = RA.AccountName -- Dùng INNER JOIN để chỉ lấy tài khoản có Role
    WHERE A.AccountName = @AccountName 
      AND A.Password = @Password
      AND RA.Actived = 1; -- ĐIỀU KIỆN QUAN TRỌNG: Chỉ cho phép đăng nhập nếu Actived = True (1)
END
GO
/****** Object:  StoredProcedure [dbo].[Account_SearchByName]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Account_SearchByName]
    @FullName NVARCHAR(100)
AS
BEGIN
    SELECT AccountName, Password, FullName, Email, Tell, DateCreated
    FROM Account
    WHERE FullName LIKE N'%' + @FullName + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cập nhật Account
CREATE PROC [dbo].[Account_Update]
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(200),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100) = NULL,
    @Tell NVARCHAR(20) = NULL
AS
BEGIN
    UPDATE Account
    SET Password = @Password,
        FullName = @FullName,
        Email = @Email,
        Tell = @Tell
    WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[ChiTietHoaDon_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietHoaDon_Delete]
@MaHD int, @MaSP int
as
begin
	delete from ChiTietHoaDon where MaHD = @MaHD and MaSP = @MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietHoaDon_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietHoaDon_GetAll]
as
begin
	select * from ChiTietHoaDon
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietHoaDon_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietHoaDon_GetByID]
@MaHD int
as
begin
	select * from ChiTietHoaDon where MaHD = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietHoaDon_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietHoaDon_Insert]
@MaHD int, @MaSP int, @SoLuong int, @DonGiaBan decimal(18,2) = null
as
begin
	if not exists(select * from ChiTietHoaDon where MaHD = @MaHD and MaSP = @MaSP)
	begin
		insert into ChiTietHoaDon(MaHD, MaSP, SoLuong, DonGiaBan)
		values(@MaHD, @MaSP, @SoLuong, @DonGiaBan)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietHoaDon_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietHoaDon_Update]
@MaHD int, @MaSP int, @SoLuong int, @DonGiaBan decimal(18,2) = null
as
begin
	update ChiTietHoaDon
	set SoLuong = @SoLuong,
		DonGiaBan = @DonGiaBan
	where MaHD = @MaHD and MaSP = @MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietPhieuNhap_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietPhieuNhap_Delete]
@MaPN int, @MaSP int
as
begin
	delete from ChiTietPhieuNhap where MaPN = @MaPN and MaSP = @MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietPhieuNhap_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietPhieuNhap_GetAll]
as
begin
	select * from ChiTietPhieuNhap
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietPhieuNhap_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietPhieuNhap_GetByID]
@MaPN int
as
begin
	select * from PhieuNhap where MaPN=@MaPN
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietPhieuNhap_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChiTietPhieuNhap_Insert]
@MaPN int, @MaSP int, @SoLuong int, @DonGia decimal(18,2)=null
as
begin
	if not exists(select * from ChiTietPhieuNhap where MaPN=@MaPN and MaSP=@MaSP)
	begin
		insert into ChiTietPhieuNhap(MaPN,MaSP,SoLuong,DonGia)
		values(@MaPN,@MaSP,@SoLuong,@DonGia)
		
		-- Cập nhật giá nhập và giá bán của sản phẩm khi nhập hàng
		if @DonGia is not null
		begin
			-- Tự động tính giá bán = giá nhập + 40% giá nhập = 1.4 × giá nhập
			declare @GiaBanTinhToan decimal(18,2) = @DonGia * 1.4
			
			update SanPham 
			set GiaNhap = @DonGia,
				GiaBan = @GiaBanTinhToan,
				SoLuongTon = SoLuongTon + @SoLuong
			where MaSP = @MaSP
		end
		else
		begin
			-- Nếu không có đơn giá, chỉ cập nhật số lượng tồn
			update SanPham 
			set SoLuongTon = SoLuongTon + @SoLuong
			where MaSP = @MaSP
		end
	end
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietPhieuNhap_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChiTietPhieuNhap_Update]
@MaPN int, @MaSP int, @SoLuong int, @DonGia decimal(18,2) = null
as
begin
	update ChiTietPhieuNhap
	set SoLuong = @SoLuong,
	    DonGia = @DonGia
	where MaPN = @MaPN and MaSP = @MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[DanhMucHang_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[DanhMucHang_Delete] 
@MaDM int
as
begin
	delete from DanhMucHang where MaDanhMuc=@MaDM
end
GO
/****** Object:  StoredProcedure [dbo].[DanhMucHang_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhMucHang_GetAll]
as
begin
	select * from DanhMucHang
end
GO
/****** Object:  StoredProcedure [dbo].[DanhMucHang_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhMucHang_GetByID]
@MaDM int
as
begin
	select * from DanhMucHang where MaDanhMuc=@MaDM
end
GO
/****** Object:  StoredProcedure [dbo].[DanhMucHang_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhMucHang_Insert] 
@TenDanhMuc nvarchar(100)
as
begin
	if(not exists (select TenDanhMuc from DanhMucHang where TenDanhMuc=@TenDanhMuc))
	begin
		insert into DanhMucHang(TenDanhMuc) values (@TenDanhMuc)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[DanhMucHang_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhMucHang_Update]
@MaDM int, @TenDanhMuc nvarchar(100)
as
begin
	update DanhMucHang
	set TenDanhMuc=@TenDanhMuc
	where MaDanhMuc=@MaDM
end
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HoaDon_Delete]
@MaHD int
as
begin
	delete from HoaDon where MaHD = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HoaDon_GetAll]
as
begin
	select * from HoaDon
end
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_GetByDate]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HoaDon_GetByDate]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SELECT * 
    FROM HoaDon
    WHERE NgayLap BETWEEN @TuNgay AND @DenNgay
END
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HoaDon_GetByID]
@MaHD int
as
begin
	select * from HoaDon where MaHD = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HoaDon_Insert]
    @NgayLap datetime, 
    @MaKH int = NULL,
    @TongTien decimal(18,2), 
    @GiamGia int,
    @AccountName nvarchar(100)
AS
BEGIN
    INSERT INTO HoaDon(NgayLap, MaKH, TongTien, GiamGia, AccountName)
    VALUES(@NgayLap, @MaKH, @TongTien, @GiamGia, @AccountName);
END
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HoaDon_Update]
    @MaHD int, 
    @NgayLap datetime, 
    @AccountName nvarchar(100),
    @MaKH int, 
    @TongTien decimal(18,2), 
    @GiamGia int
AS
BEGIN
    UPDATE HoaDon
    SET NgayLap = @NgayLap,
        AccountName = @AccountName,
        MaKH = @MaKH,
        TongTien = @TongTien,
        GiamGia = @GiamGia
    WHERE MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_Delete]
    @MaKH INT
AS
BEGIN
    DELETE FROM KhachHang
    WHERE MaKH = @MaKH;
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_GetAll]
AS
BEGIN
    SELECT MaKH, TenKH, SĐT, DiemTichLuy
    FROM KhachHang;
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_GetBySDT]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_GetBySDT]
    @SĐT NVARCHAR(15)
AS
BEGIN
    SELECT MaKH, TenKH, SĐT, DiemTichLuy
    FROM KhachHang
    WHERE SĐT = @SĐT;
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_Insert]
    @TenKH NVARCHAR(100),
    @SĐT NVARCHAR(15),
    @DiemTichLuy INT
AS
BEGIN
    INSERT INTO KhachHang (TenKH, SĐT, DiemTichLuy)
    VALUES (@TenKH, @SĐT, @DiemTichLuy);
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_SearchByName]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_SearchByName]
    @TenKH NVARCHAR(100)
AS
BEGIN
    SELECT MaKH, TenKH, SĐT, DiemTichLuy
    FROM KhachHang
    WHERE TenKH LIKE N'%' + @TenKH + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_Update]
    @MaKH INT,
    @TenKH NVARCHAR(100),
    @SĐT NVARCHAR(15),
    @DiemTichLuy INT
AS
BEGIN
    UPDATE KhachHang
    SET TenKH = @TenKH,
        SĐT = @SĐT,
        DiemTichLuy = @DiemTichLuy
    WHERE MaKH = @MaKH;
END
GO
/****** Object:  StoredProcedure [dbo].[KhachHang_UpdateDiem]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHang_UpdateDiem]
    @MaKH INT,
    @SoDiemCongThem INT
AS
BEGIN
    UPDATE KhachHang
    SET DiemTichLuy = ISNULL(DiemTichLuy, 0) + @SoDiemCongThem
    WHERE MaKH = @MaKH;
END
GO
/****** Object:  StoredProcedure [dbo].[NhaCungCap_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NhaCungCap_Delete] 
@MaNCC int
as
begin
	delete from NhaCungCap where MaNCC=@MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[NhaCungCap_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thêm stored procedure NhaCungCap_GetAll
create proc [dbo].[NhaCungCap_GetAll]
as
begin
	select * from NhaCungCap
end
GO
/****** Object:  StoredProcedure [dbo].[NhaCungCap_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NhaCungCap_GetByID]
@MaNCC int
as
begin
	select * from NhaCungCap where MaNCC=@MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[NhaCungCap_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NhaCungCap_Insert]
@TenNCC nvarchar(200), @SĐT nvarchar(15)=null,@DiaChi nvarchar(200)=null
as
begin
	if(not exists(select TenNCC from NhaCungCap where TenNCC=@TenNCC and SĐT=@SĐT))
	begin
		insert into NhaCungCap(TenNCC,SĐT,DiaChi)
		values(@TenNCC,@SĐT,@DiaChi)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[NhaCungCap_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NhaCungCap_Update]
@MaNCC int, @TenNCC nvarchar(200), @SĐT nvarchar(15), @DiaChi nvarchar(200)
as
begin
	update NhaCungCap
	set TenNCC=@TenNCC,
		SĐT=@SĐT,
		DiaChi=@DiaChi
	where MaNCC=@MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhieuNhap_Delete] 
@MaPN int
as
begin
	delete from PhieuNhap where MaPN=@MaPN
end
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhieuNhap_GetAll]
as
begin
	select * from PhieuNhap
end
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_GetAllWithDetails]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored procedure để lấy phiếu nhập kèm thông tin nhà cung cấp và account
CREATE proc [dbo].[PhieuNhap_GetAllWithDetails]
as
begin
	select 
		pn.MaPN,
		pn.NgayNhap,
		pn.AccountName,
		pn.MaNCC,
		ncc.TenNCC as TenNhaCungCap,
		ncc.SĐT as SDT_NCC,
		ncc.DiaChi as DiaChi_NCC,
		-- Tính tổng số lượng và tổng tiền
		ISNULL(SUM(ctpn.SoLuong), 0) as TongSoLuong,
		ISNULL(SUM(ctpn.ThanhTien), 0) as TongTien
	from PhieuNhap pn
	left join NhaCungCap ncc on pn.MaNCC = ncc.MaNCC
	left join ChiTietPhieuNhap ctpn on pn.MaPN = ctpn.MaPN
	group by pn.MaPN, pn.NgayNhap, pn.AccountName, pn.MaNCC, ncc.TenNCC, ncc.SĐT, ncc.DiaChi
	order by pn.NgayNhap desc
end
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhieuNhap_GetByID]
@MaPN int
as
begin	
	select * from PhieuNhap where MaPN=@MaPN
end
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PhieuNhap_Insert]
    @NgayNhap datetime,
    @AccountName nvarchar(100),
    @MaNCC int
AS
BEGIN
    INSERT INTO PhieuNhap(NgayNhap, AccountName, MaNCC)
    VALUES(@NgayNhap, @AccountName, @MaNCC)
END
GO
/****** Object:  StoredProcedure [dbo].[PhieuNhap_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PhieuNhap_Update]
    @MaPN int,
    @NgayNhap datetime,
    @AccountName nvarchar(100),
    @MaNCC int
AS
BEGIN
    UPDATE PhieuNhap
    SET NgayNhap = @NgayNhap,
        AccountName = @AccountName,
        MaNCC = @MaNCC
    WHERE MaPN = @MaPN
END
GO
/****** Object:  StoredProcedure [dbo].[Role_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Role_Delete]
    @ID INT
AS
BEGIN
    DELETE FROM Role WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Role_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Role_GetAll]
AS
BEGIN
    SELECT ID, RoleName, Path, Notes
    FROM Role;
END
GO
/****** Object:  StoredProcedure [dbo].[Role_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Role_GetByID]
    @ID INT
AS
BEGIN
    SELECT ID, RoleName, Path, Notes
    FROM Role
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Role_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Role_Insert]
    @RoleName NVARCHAR(1000),
    @Path NVARCHAR(3000) = NULL,
    @Notes NVARCHAR(3000) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Role WHERE RoleName=@RoleName)
    BEGIN
        INSERT INTO Role(RoleName, Path, Notes)
        VALUES(@RoleName, @Path, @Notes);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Role_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Role_Update]
    @ID INT,
    @RoleName NVARCHAR(1000),
    @Path NVARCHAR(3000) = NULL,
    @Notes NVARCHAR(3000) = NULL
AS
BEGIN
    UPDATE Role
    SET RoleName = @RoleName,
        Path = @Path,
        Notes = @Notes
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RoleAccount_Delete]
    @AccountName NVARCHAR(100),
    @RoleID INT
AS
BEGIN
    DELETE FROM RoleAccount WHERE AccountName=@AccountName AND RoleID=@RoleID;
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_GetByAccount]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RoleAccount_GetByAccount]
    @AccountName NVARCHAR(100)
AS
BEGIN
    SELECT r.ID, r.RoleName, r.Path, r.Notes, ra.Actived, ra.Notes AS RoleAccountNotes
    FROM RoleAccount ra
    INNER JOIN Role r ON ra.RoleID = r.ID
    WHERE ra.AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RoleAccount_Insert]
    @AccountName NVARCHAR(100),
    @RoleID INT,
    @Actived BIT = 1,
    @Notes NVARCHAR(3000) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM RoleAccount WHERE AccountName=@AccountName AND RoleID=@RoleID)
    BEGIN
        INSERT INTO RoleAccount(AccountName, RoleID, Actived, Notes)
        VALUES(@AccountName, @RoleID, @Actived, @Notes);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RoleAccount_Update]
    @AccountName NVARCHAR(100),
    @RoleID INT,
    @Actived BIT,
    @Notes NVARCHAR(3000) = NULL
AS
BEGIN
    UPDATE RoleAccount
    SET Actived=@Actived, Notes=@Notes
    WHERE AccountName=@AccountName AND RoleID=@RoleID;
END
GO
/****** Object:  StoredProcedure [dbo].[SanPham_Delete]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanPham_Delete]
@MaSP int
as
begin
	delete from SanPham where MaSP=@MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_GetAll]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanPham_GetAll]
as
begin
	select 
		sp.MaSP,
		sp.TenSP,
		sp.MaDanhMuc,
		sp.MaNCC,
		sp.DonViTinh,
		sp.GiaNhap,
		sp.GiaBan,
		sp.SoLuongTon,
		sp.HinhAnh,
		ncc.TenNCC
	from SanPham sp
	left join NhaCungCap ncc on sp.MaNCC = ncc.MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_GetAllWithSupplier]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored procedure để lấy sản phẩm kèm thông tin nhà cung cấp
CREATE proc [dbo].[SanPham_GetAllWithSupplier]
as
begin
	select 
		sp.MaSP,
		sp.TenSP,
		sp.MaDanhMuc,
		sp.MaNCC,
		sp.DonViTinh,
		sp.GiaNhap,
		sp.GiaBan,
		sp.SoLuongTon,
		sp.HinhAnh,
		ncc.TenNCC,
		ncc.SĐT as SDT_NCC,
		ncc.DiaChi as DiaChi_NCC
	from SanPham sp
	left join NhaCungCap ncc on sp.MaNCC = ncc.MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_GetByDanhMuc]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanPham_GetByDanhMuc]
@MaDanhMuc int
as
begin
	select 
		sp.MaSP,
		sp.TenSP,
		sp.MaDanhMuc,
		sp.MaNCC,
		sp.DonViTinh,
		sp.GiaNhap,
		sp.GiaBan,
		sp.SoLuongTon,
		sp.HinhAnh,
		ncc.TenNCC,
		ncc.SĐT as SDT_NCC,
		ncc.DiaChi as DiaChi_NCC
	from SanPham sp
	left join NhaCungCap ncc on sp.MaNCC = ncc.MaNCC
	where sp.MaDanhMuc=@MaDanhMuc
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_GetByID]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanPham_GetByID]
@MaSP int
as
begin
	select 
		sp.MaSP,
		sp.TenSP,
		sp.MaDanhMuc,
		sp.MaNCC,
		sp.DonViTinh,
		sp.GiaNhap,
		sp.GiaBan,
		sp.SoLuongTon,
		sp.HinhAnh,
		ncc.TenNCC,
		ncc.SĐT as SDT_NCC,
		ncc.DiaChi as DiaChi_NCC
	from SanPham sp
	left join NhaCungCap ncc on sp.MaNCC = ncc.MaNCC
	where sp.MaSP=@MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_GiamSoLuongTon]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SanPham_GiamSoLuongTon]
    @MaSP INT,
    @SoLuongGiam INT
AS
BEGIN
    -- Đảm bảo số lượng tồn kho không nhỏ hơn 0
    UPDATE SanPham
    SET SoLuongTon = 
        CASE 
            WHEN SoLuongTon - @SoLuongGiam < 0 THEN 0 
            ELSE SoLuongTon - @SoLuongGiam 
        END
    WHERE MaSP = @MaSP;
END
GO
/****** Object:  StoredProcedure [dbo].[SanPham_Insert]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SanPham_Insert]
@TenSP nvarchar(200),
@MaDM int,
@MaNCC int,
@DonViTinh nvarchar(50),
@GiaNhap decimal(18,2),
@SoLuongTon int,
@HinhAnh nvarchar(MAX)=null
AS
BEGIN
    IF (NOT EXISTS (SELECT TenSP FROM SanPham WHERE TenSP = @TenSP))
    BEGIN
        DECLARE @GiaBanTinhToan decimal(18,2) = @GiaNhap * 1.4;

        INSERT INTO SanPham(TenSP, MaDanhMuc, MaNCC, DonViTinh, GiaNhap, GiaBan, SoLuongTon, HinhAnh)
        VALUES(@TenSP, @MaDM, @MaNCC, @DonViTinh, @GiaNhap, @GiaBanTinhToan, @SoLuongTon, @HinhAnh);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SanPham_SearchByName]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanPham_SearchByName]
@TenSP nvarchar(200)
as
begin
    select 
		sp.MaSP,
		sp.TenSP,
		sp.MaDanhMuc,
		sp.MaNCC,
		sp.DonViTinh,
		sp.GiaNhap,
		sp.GiaBan,
		sp.SoLuongTon,
		sp.HinhAnh,
		ncc.TenNCC,
		ncc.SĐT as SDT_NCC,
		ncc.DiaChi as DiaChi_NCC
    from SanPham sp
	left join NhaCungCap ncc on sp.MaNCC = ncc.MaNCC
    where sp.TenSP LIKE '%' + @TenSP + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[SanPham_Update]    Script Date: 27/11/2025 2:48:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SanPham_Update]
@MaSP int,@TenSP nvarchar(200), @MaDM int, @TenNCC nvarchar(200), @DonViTinh nvarchar(50), @GiaNhap decimal(18,2),
@GiaBan decimal(18,2), @SoLuongTon int, @HinhAnh nvarchar(MAX)
AS
BEGIN 
    -- Tự động tính giá bán = giá nhập + 40% giá nhập = 1.4 × giá nhập
    DECLARE @GiaBanTinhToan decimal(18,2) = @GiaNhap * 1.4

    DECLARE @MaNCC int
    SELECT @MaNCC = MaNCC FROM NhaCungCap WHERE TenNCC = @TenNCC

    UPDATE SanPham
    SET TenSP=@TenSP,
        MaDanhMuc=@MaDM,
        MaNCC = ISNULL(@MaNCC, MaNCC),
        DonViTinh=@DonViTinh,
        GiaNhap=@GiaNhap,
        GiaBan=@GiaBanTinhToan,
        SoLuongTon=@SoLuongTon,
        HinhAnh=@HinhAnh
    WHERE MaSP=@MaSP
END
GO
